{{!< default}}

<main class="post-list" role="main">

    {{#foreach posts}}

    <article class="{{post_class}} post-block">

        <div class="post-title">
            <a href="{{url absolute="true"}}">
                <h1>{{title}}</h1>
            </a>
        </div>
        
        <div class="post-meta">
            <span class="post-author">{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</span>
            <time class="post-date"> / {{date format="MMM DD, YYYY"}}</time>
        </div>
        
        <div class="post-content">
            {{content words="140"}}
        </div>

        <div class="post-readmore">
            <a href="{{url absolute="true"}}">
                Read More →
            </a>
        </div>
        
    </article>

    {{/foreach}}

    {{pagination}}

</main>